<app-main-toolbar title="Wallet"></app-main-toolbar>

<ion-content [fullscreen]="true">

    <div class="container">

        <ion-grid>
            <ion-row>

                <ion-col size="12" size-sm="6">

                    <ion-card class="transparant-background">
                        <ion-card-header>
                            <ion-card-title>Balance</ion-card-title>
                        </ion-card-header>

                        <ion-card-content>

                            <ion-item lines="none">
                                <ion-icon name="logo-usd" slot="start"></ion-icon>

                                <ion-label class="">

                                </ion-label>
                                <span class="huge">{{ wallet.balance.final_balance * 20 | number:'1.2' }}</span>
                            </ion-item>

                            <ion-item lines="none" class="">
                                <ion-icon color="primary" name="logo-bitcoin" slot="start"></ion-icon>

                                <ion-label class="" color="">

                                </ion-label>
                                <span class="big orange">{{ wallet.balance.final_balance | number:'1.8' }}</span>

                            </ion-item>

                            <ion-item lines="none" class="detail-item">
                                <!-- <ion-icon color="" name="swap-horizontal-outline" slot="start"></ion-icon> -->

                                <ion-label>
                                    Transactions
                                </ion-label>
                                {{ wallet.balance.n_tx }}
                            </ion-item>



                            <ion-item lines="none" class="detail-item">
                                <!-- <ion-icon color="success" name="trending-up-outline" slot="start"></ion-icon> -->
                                <ion-label>
                                    Received
                                </ion-label>
                                {{ wallet.balance.total_received / 100000000 | number:'1.8'  }}
                            </ion-item>

                            <ion-item lines="none" class="detail-item">
                                <!-- <ion-icon color="danger" name="trending-down-outline" slot="start"></ion-icon> -->
                                <ion-label>
                                    Sent
                                </ion-label>
                                {{ wallet.balance.total_sent / 100000000 | number:'1.8' }}
                            </ion-item>
                            <!-- <p>         
                                Sent: <span class="white">{{ wallet.balance.total_sent }}</span> 
                                Received: <span class="white">{{ wallet.balance.total_received }}</span> 

                                Tx: <span class="white">{{ wallet.balance.n_tx }}</span>
                            </p> -->

                        </ion-card-content>

                        <ion-button fill="clear" click="bitcoin.generateAddress()">New payment</ion-button>
                        <ion-button fill="clear">Receive</ion-button>
                    </ion-card>
                </ion-col>


                <ion-col size="12" size-sm="6">
                    <ion-card class="transparant-background">
                        <ion-card-header>
                            <ion-card-title>Assets</ion-card-title>
                        </ion-card-header>

                        <ion-card-content>
                            <ion-list>
                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                        <img alt="Silhouette of a person's head" src="assets/logos/1.png" />
                                    </ion-avatar>
                                    <ion-label>BTC</ion-label>{{ wallet.balance.final_balance | number:'1.8' }}
                                </ion-item>

                                <ion-item lines="none">
                                    <ion-avatar slot="start">
                                        <img alt="Silhouette of a person's head" src="assets/logos/2.png" />
                                    </ion-avatar>
                                    <ion-label>LTC</ion-label>
                                </ion-item>

                            </ion-list>
                        </ion-card-content>
                    </ion-card>

                </ion-col>

            </ion-row>


        </ion-grid>
    </div>


</ion-content>