<app-main-toolbar title="Transactions"></app-main-toolbar>
<ion-content [fullscreen]="true">
    <div class="container">
        <ion-card *ngFor="let tx of wallet.tx" class="transparant-background">


            <!-- <ion-item lines="none" detail="false">
                <ion-label>
                    ID: <span class="white">{{ tx.hash }}</span>
                    <p>
                        {{ tx.time * 1000 | date:'short' }}
                    </p>
                </ion-label>
            </ion-item> -->


            <ion-item button lines="none" detail="true">

                <!-- <ng-container *ngIf="tx.result > 0; else down;">
                    <ion-icon color="success" name="trending-up-outline" slot="start"></ion-icon>
                </ng-container>
                <ng-template #down>
                    <ion-icon color="danger" name="trending-down-outline" slot="start"></ion-icon>
                </ng-template> -->
                <!-- <ion-label></ion-label> -->
                <!-- <span [ngClass]="tx.result > 0 ? 'success' : 'danger'">{{ tx.result / 100000000 | number:'1.8'}}</span> -->
                <ion-label>
                    <!-- ID: <span class="white">{{ tx.hash }}</span> -->
                    <span class="small">{{ tx.fee / 1000 }}K sat</span>

                    <p class="x-small">
                        {{ tx.time * 1000 | date:'MMM d y, H:mm' }}
                    </p>
                </ion-label>
                <span [ngClass]="tx.result > 0 ? 'success' : 'danger'">{{ tx.result / 100000000 | number:'1.8'}}</span>
            
            </ion-item>

        </ion-card>
    </div>
</ion-content>