<app-main-toolbar title="Transactions"></app-main-toolbar>
<ion-content [fullscreen]="true">
    <div class="container">
        <ion-card *ngFor="let tx of wallet.tx" class="transparant-background">
            <ion-item button lines="none" detail="true">
                <ion-label>
                    <span class="small">{{ tx.fee / 1000 }}K sat</span>
                    <p class="x-small">
                        {{ tx.time * 1000 | date:'H:mm, d MMM y' }}
                    </p>
                </ion-label>
                <span [ngClass]="tx.result > 0 ? 'success' : 'danger'">{{ tx.result / 100000000 | number:'1.8'}}</span>
            </ion-item>
        </ion-card>
    </div>
</ion-content>