<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="balance">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addresses">
      <ion-icon aria-hidden="true" name="key-outline"></ion-icon>
      <ion-label>Keys</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transactions">
      <ion-icon aria-hidden="true" name="swap-horizontal-outline"></ion-icon>
      <ion-label>Transactions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
