.white {
    color: white;
    font-size: small;
}

.label {
    padding: 4px;
    // margin-right: 8px;
    border-radius: 2px;
}

.green {
    color: var(--ion-color-success);
    background-color: rgba(var(--ion-color-success-rgb), 0.2);

}

.orange {
    color: var(--ion-color-primary);
    background-color: rgba(var(--ion-color-primary-rgb), 0.2);
}

.align-start {
    text-align: start;
}

ion-col {
    text-align: start;
    max-width: fit-content!important;
    max-height: fit-content!important;
    padding-right: 8px!important;
    // border: 1px solid salmon;
}