.white {
    color: white;
    font-size: small;
}

.align-start {
    text-align: start;
}

ion-col {
    text-align: start;
    max-width: fit-content!important;
    max-height: fit-content!important;
    padding-right: 8px!important;
    // border: 1px solid salmon;
}