<app-main-toolbar title="Public keys"></app-main-toolbar>
<ion-content>
    <div class="container">
        <ion-card *ngFor="let w of wallet.wallet" class="transparant-background">
            <ion-item  button detail="true" lines="none" >
                <ion-label>
                    <h3>{{ w.keyPair.address }}</h3>
                    <p> 
                        <span [ngClass]="w.addressType=='change' ? 'label-orange' : 'label-green'">{{ w.addressType }}</span>

                        Balance: <span class="white">{{ w.balance | number:'1.8' }}</span> 
                        Tx: <span class="white">{{ w.transactions }}</span>
                    </p>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>