<app-main-toolbar title="Public keys"></app-main-toolbar>
<ion-content>
    <div class="container">
        <ion-card *ngFor="let w of wallet.wallet" class="transparant-background">
            <ion-item  button detail="true" lines="none" >
                <ion-label>
                    <h3>{{ w.keyPair.address }}</h3>
                    <p> 
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <span class="small label" [ngClass]="w.addressType=='change' ? 'orange' : 'green'">
                                        {{ w.addressType }}
                                    </span>
                                </ion-col>

                                <ion-col>
                                    <span class="white">{{ w.balance | number:'1.8' }}</span> 
                                </ion-col>

                                <ion-col>
                                    <span class="x-small">Tx: </span>
                                    <span class="white">{{ w.transactions }}</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </p>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
</ion-content>