ion-col {
    // background-color: #135d54;
    // border: solid 1px #fff;
    // color: #fff;
    text-align: center;
}

ion-card {
    margin: 0;
    --background: rgba(0,0,0, 0.35);
}

ion-card-header {
    text-align: start;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

ion-item {
    --background: none!important;
}

ion-list {
    background:rgba(0, 0, 0, 0);
}

ion-toolbar{
    --background: rgba(0, 0, 0, 1);
}
h1 {
    text-align: start;
    width: fit-content;
    background: linear-gradient(32deg, rgba(131,58,180,1) 0%, rgba(205,43,43,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    // letter-spacing: .1rem;
    margin: 0;
}

.orange {
    color: var(--ion-color-primary);
}

// ion-toolbar {
//     --background: linear-gradient(32deg, rgba(131,58,180,1) 0%, rgba(205,43,43,1) 50%,  rgba(252,176,69,1) 100%);;
// }
.big {
    font-size: large;
    font-weight: bold;
}

.huge {
    font-size: xx-large;
    font-weight: bold;
}

.small {
    font-size: large;
    font-weight: bold;
}

.no-padding {
    --background: rgba(0, 0, 0, 0);
    margin-top: -24px !important;
}